
.profile{

    font-family: Arial;
    text-align: center;
    border: "2px solid #090909";
    padding: 30px;
    box-sizing: border-box;
    background-color: #9ea9b1;
    height: 525px;
    width: 550px;
    margin-left: 500px;
    margin: "auto";  
}

.para{
    margin-left: 10px;
}
 
.names{
    display: flex;
    width: 100%;  
    height: 100px;
    flex-direction: row;  
}

.fname, .lname {
    width: 25%;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 75px;
    margin-bottom: 20px;

}



.form_inputThree{
    
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 9px;
    margin-right: 20px;

}

.labelEmail{
    margin-right: 52px;
    margin-left: 40px;
}

.labelDate{
    margin-right: 20px;
}

.labelEmail, .labelDate, .labelNum{
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    padding-right: 40px;
}

.form_inputPersonal{
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 7px;
}

.datepicker{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    background-color: #474f55;
    color: #000;
    border: 0px;
    border-radius: 0;
    display: inline-block;
    margin-bottom: 10px;
    width: 38%;
  }

.password{
    display: flex;
    width: 88%;  
    height: 100px;
    flex-direction: row;  
    margin-left: 20px;
}

.labelName{
    text-indent: 45px;
    text-align: justify;
    letter-spacing: 3px;
    margin-left: 10px;

}

.labelPass{
    text-indent: 45px;
    text-align: justify;
    letter-spacing: 3px;
    margin-left: 10px;
    margin-right: 70px;
    padding-right: 40px;
}

button{
    background-color: #474f55;
    color: white;
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    float: right;
}

